@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome e4 Assessment</h1>
     <a href="/Users/Index" class="btn btn-primary">View Users</a>
</div>
